.userInfo {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-top: 25px;
  padding: 30px;
  border-radius: 10px;
  background-color: #1f2a48;
}

.avatarUserInfo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0px 7% 0px 0px;
}

.userInfoSections {
  width: 100%;
  color: white;
}
.userInfoSectionNameDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userInfoUsername {
  margin-top: 0;
  color: #2d5fa4;
}

.userInfoGitHub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #141c2f;
  border-radius: 10px;
  padding: 20px;
  margin-top: 25px;
}

.userInfoGitHubSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfoGitHubSection > p {
  margin-bottom: 0px;
  font-weight: 600;
}
